@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-div {
  padding: 8px 0;
  width: 93%;
  margin: auto;
  top: 0;
  position: sticky;
  z-index: 10;
  background: #f8f8f8;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  color: #0D3356;
}

.nav-txt {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#categorie {
  outline: none;
  border: none;
  background: #fff;
}

a:link {
  text-decoration: none;
  color: #000;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#bag-btn {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
}

#item-num {
  position: absolute;
  margin-right: -10px;
  margin-bottom: 35px;
  font-size: 7px;
  padding: 1.5px 3px;
  color: #fff;
  background-color: #303E6F;
  border-radius: 50%;
}

.fa-solid {
  position: relative;
  /* color: #FFA500; */
}

#bell-btn {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
}

#bells {
  position: absolute;
  margin-right: -10px;
  margin-bottom: 35px;
  font-size: 7px;
  padding: 3px;
  color: #fff;
  background-color: #ad611a;
  border-radius: 50%;
}

.img1 {
  width: 100%;
}

#img1 {
  width: 22%;
}

.gm {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: #C0C3C6;
}

.sj {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #1D364D;
}

.here-div {
  padding: 40px 0;
  width: 93%;
  margin: auto;
}

.here {
  text-align: center;
  font: inter;
}