/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px 0;
}

.nav-div {
  padding: 8px 0;
  width: 93%;
  margin: auto;
  top: 0;
  position: sticky;
  z-index: 10;
  background: #f8f8f8;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.h1 {
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  color: #0D3356;
}

.nav-txt {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#categorie {
  outline: none;
  border: none;
  background: #fff;
}

a:link {
  text-decoration: none;
  color: #000;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#bag-btn {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
}

#item-num {
  position: absolute;
  margin-right: -10px;
  margin-bottom: 35px;
  font-size: 7px;
  padding: 1.5px 3px;
  color: #fff;
  background-color: #303E6F;
  border-radius: 50%;
}

.fa-solid {
  position: relative;
  /* color: #FFA500; */
}

#bell-btn {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: none;
}

#bells {
  position: absolute;
  margin-right: -10px;
  margin-bottom: 35px;
  font-size: 7px;
  padding: 3px;
  color: #fff;
  background-color: #ad611a;
  border-radius: 50%;
}

.img1 {
  width: 100%;
}

#img1 {
  width: 22%;
}

.gm {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: #C0C3C6;
}

.sj {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #1D364D;
}

.second-div {
  display: flex;
  justify-content: space-between;
  /* margin-top: 200px; */
  width: 93%;
  margin: auto;
  padding-top: 50px;
  background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
}

.grab {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 50px;
}

.grab-text {
  width: 300px;
}

.h3 {
  color: #3A4980;
  font-size: 28px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
}

#buy-now {
  width: 136px;
  height: 49px;
  top: 327px;
  left: 135px;
  border: none;
  color: #fff;
  border-radius: 29.5px;
  background: #3A4980;
}

.over-img {
  /* padding-right: 100px; */
  margin-bottom: 0;
}

#over-img {
  margin-top: -77px;
  padding: 0 50px;
}

.nav-two {
  width: 93%;
  margin: auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav2 {
  display: flex;
  gap: 0.7rem;
}

#select {
  padding: 5px 8px;
  border: none;
  border-radius: 28px;
  background: #EBEDEC;
}

#select1 {
  padding: 5px 8px;
  border: 1px solid #e2e2e2;
  border-radius: 28px;
  background: #fff;
}

.display-products {
  width: 93%;
  margin: auto;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.2rem;
}

.product-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-name {
  display: flex;
  flex-direction: column;
}

.prod-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #F7F5F7;
}

#product-img {
  width: 70%;
  height: 200px;
}

.name-price {
  padding: 10px 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prod-name {
  color: #667085;
  font-size: 15px;
}

.stars {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.types-of {
  font-size: 10px;
  line-height: 17px;
  letter-spacing: 0em;
  color: #98A2B3;
}

.buttons {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-chart {
  padding: 6px 8px;
  background: #3A4980;
  border: 1px solid #000;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
}

#add-list {
  padding: 6px 8px;
  color: #3A4980;
  border: 1px solid #e2e2e2;
  border-radius: 25px;
  background: #fff;
  font-size: 12px;
}

.prev-next {
  padding-top: 60px;
  width: 93%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#prev {
  color: #667085;
  font-size: 13px;
  border: 1px solid #F3F3F3;
  border-radius: 8px;
  background: #F3F3F3;
  padding: 7px;
}

.numbs {
  display: flex;
  gap: 0.2rem;
}

#numb {
  font-size: 10px;
  border-radius: 5px;
  background: linear-gradient(75.04deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%);
  padding: 8px;
}

#next {
  color: #667085;
  font-size: 13px;
  border: 1px solid #F3F3F3;
  border-radius: 8px;
  background: #F3F3F3;
  padding: 7px;
}
